[Unit]
Description=n8n
After=syslog.target network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
Environment=PATH=__ENV_PATH__
Environment=NODE_ENV=production
ExecStart=__FINALPATH__/node_modules/n8n/bin/n8n
Restart=always

[Install]
WantedBy=multi-user.target
